<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Edit your post</h2>
    <p>Id: <%=post.id%></p>
    <p>Post username:@<%= post.username %></p>
    <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
        <textarea name="tweet" rows="10" cols="35">
            <%= post.tweet %>
        </textarea>

        <button>Submit</button>

    </form>
    
</body>
</html>